<footer>
    <div  style="width: 100%; ">
        <div style="width: 50%; float: left; ">
            <ul style="list-style: none;">
                <li class="newsletter"> SignUp To Our<br> NewsLetter</li>
                <li>
                    <p style="font-style: normal;
                            font-weight: 300;
                            font-size: 16px !important; 
                            line-height: 130%; font-family: 'Outfit-Light',sans-serif;
                            color: #0A4C36;">Stay up to date on the latest news with our<br>
                             carefully curated newsletters.</p>
                </li>
                <li style="height: 20px;"></li>
                <li>
                    <form class="form subscribe" action="https://www.ugaoo.com/newsletter/subscriber/new/" method="post" id="newsletter-subscribe-form" novalidate="novalidate">
                        <input name="email" type="email" id="newsletter" placeholder="Enter your email address" data-validate="{required:true, 'validate-email':true}" class="footerInput">
                        <button id="subscribe-submit" class="footerbtn" title="Submit" type="submit">
                        SIGN UP</button>
                    </form>   
                </li>
            </ul>
        </div>    
        <div style="margin-left: 50%;">
            <table>
            <tr>
                <td class="footerBlockMenu">{{"About Us" | uppercase}}</td>
                <td rowspan="6" style="width: 50px;"></td>
                <td class="footerBlockMenu">{{"Customer Care" | uppercase}}</td>
                <td rowspan="6" style="width: 50px;"></td>
                <td class="footerBlockMenu">{{"Offers & Rewards" | uppercase}}</td>
            </tr>
            
            <tr>
                <td class="footerSmallMenu">Our Story</td>
                <td class="footerSmallMenu">Track Order</td>
                <td class="footerSmallMenu">Plant Parent Club</td>
            </tr>
            <tr>
                <td class="footerSmallMenu">Contact Us</td>
                <td class="footerSmallMenu">Shipping Policy</td>
                <td class="footerSmallMenu" rowspan="3" style="vertical-align: text-top;">Ugaoo Coupans</td>
            </tr>
            <tr>
                <td class="footerSmallMenu">Locate Story</td>
                <td class="footerSmallMenu">Terms & Condition</td>
            </tr>
            <tr>
                <td rowspan="2" style="vertical-align: text-top;" class="footerSmallMenu">OwnGrown Produce</td>
                <td class="footerSmallMenu">Privacy Policy</td>
            </tr>
        
            <tr>
                <td class="footerSmallMenu">FAQ's</td>
            </tr>
            </table>
        </div>
    </div>
    <div >
        <ul class="footerSocial" >
            <li class="footerSocialLi">
                <a href="https://www.facebook.com/ugaooindia" target="_blank"><img class=" lazyloaded" src="https://static.ugaoo.com/version1653004216/frontend/Agnie/Ugaoo/en_US/images/icons/facebookicon.png" data-src="https://static.ugaoo.com/version1653004216/frontend/Agnie/Ugaoo/en_US/images/icons/facebookicon.png" alt="Facebook" title="Facebook"></a>
            </li>
            <li class="footerSocialLi">
                <a href="https://twitter.com/Ugaooindia" target="_blank"><img class=" lazyloaded" src="https://static.ugaoo.com/version1653004216/frontend/Agnie/Ugaoo/en_US/images/icons/twittericon.png" data-src="https://static.ugaoo.com/version1653004216/frontend/Agnie/Ugaoo/en_US/images/icons/twittericon.png" alt="Twitter" title="Twitter"></a>
            </li>
            <li class="footerSocialLi">
                <a href="https://instagram.com/ugaoo/" target="_blank"><img class=" lazyloaded" src="https://static.ugaoo.com/version1653004216/frontend/Agnie/Ugaoo/en_US/images/icons/instgramicon.png" data-src="https://static.ugaoo.com/version1653004216/frontend/Agnie/Ugaoo/en_US/images/icons/instgramicon.png" alt="Instagram" title="Instagram"></a>
            </li>
            <li class="footerSocialLi">
                <a href="https://www.youtube.com/channel/UCr7jDFF5MO-4-BtcrVDNVxA" target="_blank"><img class=" lazyloaded" src="https://static.ugaoo.com/version1653004216/frontend/Agnie/Ugaoo/en_US/images/icons/youtubeicon.png" data-src="https://static.ugaoo.com/version1653004216/frontend/Agnie/Ugaoo/en_US/images/icons/youtubeicon.png" alt="You Tube" title="You Tube"></a>
            </li>
        </ul>
    </div>
</footer>







   